* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.mainnav {
    background: #383838;
    display: flex;
}

.mainnav > span:first-child {
    margin-right: auto;
}

.mainnav > span:last-child {
    margin-left: auto;
    visibility: hidden;
}

.wrapper {
    background: #353535;
    width: 100%;
}

.logo {
    max-width: 100px;
    cursor: pointer;
}

.navitem {
    display: none;
}

.open {
    color: #fff;
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    display: block;
    background: #004900;
    cursor: pointer;
}

.mobilenav {
    width: 100%;
    overflow-x: hidden;
    height: 0;
    z-index: 100;
    position: fixed;
    background: rgba(0, 49, 0, .99);
    transition: .5s;
    display: block;
}

.mobilenav a {
    clear: left;
    color: #fff;
    font-size: 22px;
    display: block;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 2em 0;
}

.mobilenav a:hover {
    background: rgba(255, 255, 255, .1);
}

.support {
    list-style: none;
    display: flex;
    flex-direction: column
}

h1 {
    padding: 10px;
    color: #fff;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.support a {
    padding: 20px;
    text-align: center;
    background: #404040;
    margin-top: 10px;
}

.support a:hover {
    background: green;
}

.support a i {
    float: left;
    color: #fff;
    font-size: 100px;
}

h2 {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.support a p {
    font-family: Roboto, sans-serif;
    color: #fff;
    padding-top: 15px;
    font-size: 20px;
}

#map {
    display: none;
}

.support article {
    display: none;
}

.product {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.producticon {
    display: none;
}

.productimage {
    display: flex;
    margin-top: 1em;
}

.productimage img {
    align-self: center;
    width: 100%;
}

.buy {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.buy p {
    font-family: Roboto, sans-serif;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.buy button {
    padding: 5px;
    width: 80%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.related {
    margin-top: 20px;
    display: flex;
    background: #404040;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: center;
}

.related img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.related img:nth-child(n+3) {
    display: none;
}

.descext {
    margin-top: 20px;
    background: #404040;
}

.descext h2 {
    padding: 10px;
}

.descext p {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding: 10px;
}

.slider {
    display: none;
}

.fp {
    display: block;
}

.advert {
    display: none;
    background: #404040;
    width: 100%;
}

.top {
    display: none;
}

.productcatalogue {
    display: flex;
    flex-direction: column;
}

.productcatalogue a {
    background: #404040;
    padding: 1em;
    margin-top: 10px;
}

.productcatalogue a:first-child {
    display: block;
    background: #404040;
}

.productcatalogue a p {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
}

.productcatalogue a:hover {
    text-decoration: #fff underline;
}

footer {
    background: #202020;
    display: flex;
    margin: auto;
    width: 100%;
}

footer div:first-child {
    padding: 1em;
}

footer div h3, p {
    color: grey;
    font-family: Roboto, sans-serif;
}

footer div:last-child {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

footer div a {
    text-decoration: none;
    color: grey;
    font-size: 30px;
}

@media screen and (min-width: 600px) {
    .mainnav {
        flex-wrap: wrap;
        align-items: center;
    }

    .wrapper {
        width: 550px;
        margin: 0 auto;
    }

    body {
        background: #151515;
    }

    .navitem {
        font-family: Roboto, sans-serif;
        display: block;
        text-decoration: none;
        text-align: center;
        flex: 1 0;
        line-height: 56px;
        font-weight: 600;
        color: #fff;
    }

    .navitem:hover {
        background: rgba(255, 255, 255, .3);
    }

    .open {
        display: none;
    }

    .support {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px 160px 160px;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 1em;
    }

    .support a {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .support a i {
        font-size: 30px;
    }

    .support a h2 {
        font-size: 20px;
    }

    .support a p {
        align-self: center;
        justify-self: center;
        font-size: 15px;
    }

    .support article {
        display: block;
        background: #404040;
        grid-column: 1/3;
    }

    .support article h2 {
        padding: 16px;
    }

    .support article p {
        font-family: Roboto, sans-serif;
        color: #fff;
        padding: 16px;
    }

    #map {
        background: 0 0;
        display: block;
        height: 500px;
        grid-column: 1/3;
    }

    .product {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 300px 75px 210px 450px;
    }

    .producticon {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        overflow: hidden;
    }

    .producticon img {
        width: 150px;
    }

    .productimage {
        margin: 0;
    }

    .buy {
        margin: 0;
        text-align: end;
        grid-column: 2/3;
        grid-row: 1/3;
        background: #404040;
    }

    .buy p {
        padding-top: 20px;
    }

    .buy button {
        margin: 20px;
    }

    .related {
        overflow: hidden;
        margin-top: 10px;
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .related img:nth-child(3) {
        display: block;
    }

    .descext {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .slider {
        display: block;
        overflow: hidden;
    }

    .slider figure {
        position: relative;
        float: left;
        width: 500%;
        animation: 20s slider infinite;
    }

    .slider figure img {
        width: 20%;
    }

    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100.3%;
        }
        45% {
            left: -100.3%;
        }
        50% {
            left: -200.6%;
        }
        70% {
            left: -200.6%;
        }
        75% {
            left: -300.9%;
        }
        95% {
            left: -300.9%;
        }
        100% {
            left: 0;
        }
    }
    .fp {
        display: grid;
        grid-template-rows: 500px;
        padding: 1em;
    }

    .advert {
        display: block;
    }

    .top {
        display: none;
    }

    .productcatalogue {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-gap: 1em;
        padding: 1em;
    }

    .productcatalogue a img {
        width: 100%;
    }

    .productcatalogue a p {
        font-size: 17px;
    }

    footer {
        width: 550px;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }

    .support {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 1em;
    }

    .support article {
        grid-column: 3/4;
    }

    #map {
        height: 500px;
        grid-column: 1/3;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 500px;
    }

    .producticon {
        grid-column: 1/2;
        grid-row: 1/2;
        flex-direction: column;
        align-items: center;
    }

    .producticon img {
        height: auto;
        width: 100%;
    }

    .productimage {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .buy {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .related {
        grid-column: 1/4;
        height: 200px;
    }

    .related img:nth-child(n+4) {
        display: block;
    }

    .descext {
        grid-column: 1/5;
        height: 300px;
    }

    .fp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px;
        padding: 1em;
        grid-gap: 1em;
    }

    .advert {
        grid-column: 1/2;
        grid-row: 1/2;
        display: block;
    }

    .top {
        display: block;
    }

    .top h1 {
        color: #fff;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        text-align: center;
    }

    .top div {
        display: grid;
        padding-top: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }

    .game {
        display: block;
        align-self: center;
        justify-self: center;
    }

    .productcatalogue {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px;
        grid-gap: 1em;
        padding: 1em;
    }

    .productcatalogue a img {
        width: 100%;
    }

    .productcatalogue a p {
        text-decoration: none;
        font-size: 30px;
    }

    .productcatalogue a:first-child {
        display: none
    }

    footer {
        width: 1000px;
        justify-content: space-between
    }
}